/* You can add global styles to this file, and also import other style files */
body{
  background-color: lightgray;
}
#calc{
  border: black 2px solid;
  background-color: rgb(240, 239, 239);
}
#calc div:nth-child(3), #calc div:nth-child(4), #calc div:nth-child(5), #calc div:nth-child(6){
  font-size: 150%;
}
#calc div:nth-child(2) button{
  color: red;
}
.number{
  background-color: white;
}
.equal{
  background-color: lightblue;
}
#pantalla{
  font-size: 150%;
  text-align: right;
}
